doctype html

html(lang="en")

    head
        meta(charset="utf-8")
        title Base
    // [if lt IE 9]
    script(src='../../bower_components/html5shiv/dist/html5shiv.js')
    script(src='../../bower_components/respond/dest/respond.min.js')
    // [endif]
    // CSS
    link(href='../../bower_components/pure/pure.css',  rel='stylesheet')
    link(href='index.less', rel='stylesheet/less')

    body
        div(id='pure_grid')
    // JS
    script(src='../../bower_components/jquery/jquery.min.js')
    script(src='../../bower_components/less.js/dist/less-1.6.0.min.js')
    script(src='../../bower_components/modernizr/modernizr.js')
    // widget
    script(src='../widget/pure_grid.js')
    // Local
    script(src='index.js')